
nav 
{
  background-color: #e0baba;
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.container {
    display: flex;
    height: 100vh;
}
.col1,.col2 {
    width: 50%;
    background-color: rgb(255, 255, 252);
    
}
.col2 img{
    width: 100%;
}

body 
{
  font-family: Arial, sans-serif;
  background-color: hsl(0, 11%, 98%);
  margin: 30px;
  
}

h1 {
  text-align: center;
  color: hsl(0, 90%, 27%);
  font-size: 4rem;
  font-family: Arial, sans-serif;
}

h2, h3 {
  text-indent: 20px;
  color: rgb(180, 6, 6);
}
p {
  text-indent: 40px;
}
.col1 img{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;


}




