nav {
    width: 100%;
    height: 50px;
    padding: 30px;
    gap: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
}
nav a {
    color: black;
    border-bottom: transparent;
    font-size: 1.6rem;
    font-weight: bold;
} 
nav a:hover {
    color: azure;
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid azure;
}
body {
    background-color: rgba(197, 207, 211, 0.833);
}
.container1 { 
    display: flex;
    gap: 1rem;
}
.col1 {
        width: 50%;
        height: 700px;
}
.col2 {
    width: 50%;
    height: 700px;
}
.col1, .col2{
  flex: 1;
  padding: 1rem;
}
@media (width<800px) {
  .container1, .container2 {
    flex-direction: column;
    justify-content: center;
    padding: 4rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .col2 img{
    width: 50%;
    height: 50%;
  }
}
.col2 img {
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    padding: 30%;
    animation: zoom 4s ease-in-out infinite;
}
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.col1 img {
    margin-left: 10%;
    margin-top: 10%;
    width: 250px;
    height: 240px;
    border-radius: 50%;
    justify-content: right;
    border: 0.3rem solid black;
}
h1 {
    margin-left: 10%; 
    font-size: 3rem;
}
.col1 p {
    text-align:left;
    font-size: 1.1rem;
    line-height: 2rem;
    margin-left: 10%;
    margin-right: 20%;

}
.social-icons {
    display: flex;
    justify-content:left;
    margin-left: 10%;
    gap: 15px;
}
.social-icons a {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    height: 2.6rem;
    border: 0.2rem solid black;
    font-size: 1.6em;
    border-radius: 50%;
    transition: 0.3s ease;
    color: black;
  }
  
  .social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY();
    background-color: azure;
    box-shadow: 0 0 25px azure;
  }
  .divider {
    height: 2px;
    background-color: black;
    width: 100%;
    margin-top: 30px;
  }
  .container2 {
    display: flex;
    font-family: sans-serif;
  }
  .sidebar {
    background-color: rgba(197, 207, 211, 0.833);
    width: 40%;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .sidebar .filter{
    background-color: azure;
    font-size:1.4rem;
    height: 90px;
    width: 100%;
  }
  .section {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .Formations {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
  }
  .card {
    background-color: azure;
    border-radius: 20%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.833);
    padding: 20px;
    width: 350px;
    height: 230px;
    transition: transform 0.3s ease;
  }
  .card:hover {
    transform: translateY(-5px);
  }
  .card p {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .card h2, h3, h4, h5 {
    margin-top: 20px;
    font-size: 2rem;
  }
  .Expériences {
    padding: 10px;
    background-color: azure;
    margin: 40px;
    border-radius: 10%;
  }
  .Expériences:hover {
    transform: translateY(-5px);
  }
  .timeline {
    border-left: 3px solid #000;
    padding-left: 20px
  }
  .event {
    margin-bottom:40px;
    position: relative;
  }
  .event::before {
    content:"";
    position: absolute;
    left: -10px;
    top: 15px;
    width: 13px;
    height: 13px;
    background-color: #000;
    border-radius: 50%;
  }
  h6, .titre-h7 {
    font-size: 2rem;
    margin-left: 20px;
    font-family: sans-serif;
    font-weight: bold;
  }
  .Compétences {
    background-color: azure;
    padding: 20px;
    border-radius: 10%;
    margin: 40px;
  }
  .Compétences ul {
    list-style-type: none;
    padding: 0;
  }
  .Compétences li {
    background-color: rgba(197, 207, 211, 0.833);
    padding: 10px 15px;
    margin-bottom: 10px;
    border-left: 4px solid #041425;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .Certificats {
    padding: 20px;
    margin: 40px;
  }
  .Certificat-card {
    border-radius: 10%;
    background-color: azure;
    border: 2px solid black;
    height: 30%;
  }
  
  

