@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
:root {
    --primary-color: #900b0b;
    --primary-color-dark:#470707;
    --secondary-color: #fef6f7;
    --text-dark:black;
    --text-light:grey;
    --extra-light:white;
    --max-width:100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 80%;
}
.nav__content{
    max-width: var(--max-wight);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
nav .logo a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: .3s;

}
nav .logo a:hover {
    color: var(--primary-color-dark);
}
nav .checkbox {
    display: none;
}
nav input {
    display: none;
}
nav .checkbox i {
    font-size: 2rem;
    color:var(--primary-color);
    cursor:pointer;
}
ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}
ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color:var(--text-dark);
    transition: 0.3s;

}
ul li a:hover {
    border-top-color: var(--primary-color);
    border-bottom-color: var(--primary-color);
    color: var(--primary-color);
}
.section {
    background-color: var(--secondary-color);
}
.section__container {
    min-height: 80vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.subtitle{
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: .5rem;
}
.title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;

}
.title span{
    font-weight: 600;
    color: var(--primary-color);
}
.description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}
.action__btns{
    display: flex;
    gap: 1rem;
}
.action__btns button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.embauchez-moi{
    background-color: var(--primary-color);
    color: white;

}
.embauchez-moi:hover{
    background-color: var(--primary-color-dark);

}
.portfolio{
    color: var(--primary-color);
}
.portfolio:hover{
    background-color: var(--primary-color-dark);
    color: white;
}
.image{
    display: grid;
    place-items: center;
    
}
.image img{
    width: min(25rem,50%);
    margin-top: 40px;
    border-radius: 50%;
     border: 4px solid var(--primary-color);
     transition: transform 0.3s ease;

}
.image :hover {
    transform: translateY(-10px);
}
@media (width <750px){
    nav .checkbox{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh -85px);
        left: -100%;
        top: 80px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap:3rem;

    }
    nav #check:checked ~ ul{
        left: 0;
    }
    ul li a {
        font-size: 1.25rem;  
    
    }
    .section__container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);

    }
    .image{
        grid-area:1/1/2/2;

    }
    .action__btns{
        margin: auto;
    }

}
.section__container1{
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.section__container1 h6{
    font-size: 3rem;
    margin: 0; 
    padding: 0;
    color: var(--primary-color);
}
  .Formations {
    display: grid;
   
    grid-template-columns: repeat(auto-fit, minmax(250px,250px));
    gap: 10px;
    padding: 40px;
    margin-top: 40px;
  }
  .card {
    background-color:white;
    border-radius: 10%;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.20);
    padding: 25px;
    transition: transform 0.3s ease;
    border-left: 6px solid var(--primary-color);
    
  }
  .card:hover {
    transform: translateY(-8px);
    background-color:var(--primary-color-dark);
    color: white;
    border-left-color:white ;
  }
  
  .card p {
    margin: 8px 0;
    line-height: 1.5;
    color: var(--text-dark);
    justify-content: center;
    text-align: center;
    
  }
  .card h2, h3, h4, h5 {
    margin-top: 30px;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
  }
  
.card:hover h2,
.card:hover h3,
.card:hover h4,
.card:hover h5 {
color:white;
}
.card p:hover {
    color: white;
}
 .titre-h7 {
    font-size: 3rem;
    font-weight: bold;
    margin-top : 30px; 
    padding: 0;
    color: var(--primary-color);
}
.Expériences {
    padding: 2rem;
    background-color: var(--secondary-color);
    border-radius: 10%;
}
.titre-h8 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #470707;
    font-size: 2rem;
}
.Expériences-item {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: white;
    border-left: 4px solid #470707;
    border-radius: 5px;
    transition: transform 0.3s ease;
    
}
.Expériences-item:hover{
    transform: translateY(-8px);

}
.titre-h9 {
     text-align: center;
    margin-bottom: 1.5rem;
    color: #470707;
    font-size: 2rem;

}
.titre-10 {
     font-size: 3rem;
    font-weight: bold;
    margin-top : 30px; 
    padding: 0;
    color: var(--primary-color);
}