
nav 
{
  background-color: white;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 1rem;

}
.logo img {
  height: 100px 
  !important;
  width: 140px
  !important
}
nav a { 
  text-decoration: none;
  color:black;
  font-weight:bold;
  margin-right: 20px;
  transition: 500;
  border-bottom: 3px solid transparent;  
}
nav a:hover,
nav a {
  color:green;
  border-bottom: 3px solid green;
}
nav a.hover,
nav a{
  padding: 1rem;
  border-radius: 0.5rem;
  border-bottom: 0.5rem solid black;
}
.hero-image img {
  width: 100%;
  height: 600px;
  display: block;
  opacity: 0.4;
  position: relative;

}
.texte-sur-image {
  position: absolute;
  left: 40%;
  top: 60%;
  padding: 40px;
  margin: 40px;
  transform: translate(-50%,-50%);
  color: black;
  font-size: 2rem;
  justify-content: center;
  text-align: center;
}
.texte-sur-image p{
  font-size: 20px;
}
.container {
  display: flex;
  gap: 0px;
}
.col1, .col2 {
  width: 50%;
  height: 100%;
  background-color: white;
}
.col2 img {
  width: 100%;  
  height: 500px;
  border-radius: 20%;
  margin-top: 20px;
}
.col1 {
  align-items: center;
  text-align: center;

}
.col1 h1 {
margin-top: 100px;
}
body 
{
  font-family:Arial, sans-serif;
  background-color: hsl(0, 11%, 98%);
  margin:20px;  
}
p {max-width: 430px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}

h1, h2 {
  text-align: center;
  color: hsl(0, 3%, 6%);
  font-size:xx-large;
  font-family: Arial, sans-serif; 
  margin-top: 20px;
} 
.col1{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.col1 img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  flex-direction: row;
  gap: 0px;
  padding: 20px;
}

.produit {
  margin: 5%;
  display: flex;
}
.produit p{
  margin-top: 5px;
  font-weight: bold;
  font-size: 15px;
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid black;
  font-size: 2;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: gray;
  gap: 20px;
}

.social-icons a:hover{
  color: black;
  transform: scale(1.3) translateY();
  background-color:green;
  box-shadow: 0 0 25px green;
  transform: scale(1.1);
} 

